/* Variables
======================================== */

$enable-responsive-font-sizes: true;
$enable-negative-margins: true;

$primary:       #55aeff;
$secondary:     #1A1F2E;
$success:       #64A319;
$info:          #0dcaf0;
$warning:       #E58303;
$danger:        #dc3545;
$light:         #f8f9fa;
$light:         #f8f9fa;
$dark:          #000;
$secondary-dark: #141722;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "secondary-dark": $secondary-dark
);


// Body
$body-color:                #fff;
$min-contrast-ratio:        1;

$link-color:                $body-color;


// Typography
$font-size-base:                1rem;
$font-family-base:              'Quicksand', sans-serif;

$font-weight-normal:            400;

// Headings
$h1-font-size:                  $font-size-base * 2.5;
$h2-font-size:                  $font-size-base * 2;
$h3-font-size:                  $font-size-base * 1.75;
$h4-font-size:                  $font-size-base * 1.5;
$h5-font-size:                  $font-size-base * 1.25;
$h6-font-size:                  $font-size-base;
$headings-font-weight:          600;

// Displays
$display-font-sizes: (
  1: 6rem,
);

$display-font-weight: 900;
$display-line-height: 1;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 7,
);