* {
    color: #fff;
}

body {
    margin: 0;
    background: rgb(85,174,255);
    background: linear-gradient(135deg, rgba(85,174,255,1) 0%, rgba(101,67,255,1) 100%);
    // background: rgb(28, 65, 100);
    // background: linear-gradient(135deg, rgb(28, 65, 100) 0%, rgb(34, 23, 82) 100%);
}